 /* body {

    overflow-x: hidden;
}

* {

    box-sizing: border-box;
    
}
.navbar-expand-lg .navbar-nav {
    
    flex-direction: column !important;
}

.nav-link {

    color: white;
}
.nav-link.active {

    color: red !;
}
.vertical-nav {

    position: fixed;
    width: 230px;
    height:100%;
    background-color: #4E73DF !important;
    overflow-y: hidden;
}

.container {

    display: block !important;
    position: fixed;
    top: 0%;
}
a {

    color: white;
}
 

.navbar-nav .hori{
    
    flex-direction: row !important;
} */

/* .top-bar {

    position: fixed;
    top:0;
}
 */

/* .nav-item {

    margin: 20px 0px;
    
}
.sidebar-heading {

    border-top: 1px solid rgba(255, 255, 255, 0.945);
    border-top-width: 1px;
    border-top-style: solid;
    border-top: 1px solid rgba(255,255,255,.15);
    color: #7F83DE;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 1rem;
}

.navbar-light .navbar-nav .nav-link {

    padding: 0 1rem;
    color: rgba(255,255,255,.8);
    font-size: .85rem;
     
}

.navbar-light .navbar-nav .nav-link:hover {

    color: white;
}

.nav-link:active {

    color: red;
}

.fontawesome-wink {

    transform: rotate(-15deg);
    font-size: 2rem;
    margin: 0px 15px;
}
sub {

    top: -1rem;
}

.fontawesome {

    margin: 0px 10px;
}

.navbar-light .navbar-nav .sb {

    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
    color: white;
}

.navbar{
    
    height:100%;
    }
    
    .navbar{
        margin:0px;
    } 
 */

    /* *{
        margin: 0;
        padding: 0;
    }

    ul{
        padding: 0;
        margin: 0;
    }

    li{
        list-style: none;
        padding-top: 40px;
    }
    body{
        background-color: #eee;
        font-family: 'Open Sans', sans-serif;
    }
    
    
    ::-webkit-scrollbar {
        width: 3px;
      }
      
    
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
        display: none;
      }
       
    
      ::-webkit-scrollbar-thumb {
        background: #333; 
        border-radius: 10px;
        display: none;
      }
      
    
      ::-webkit-scrollbar-thumb:hover {
        background: #333; 
        display: block;
      }
    
    
    .side-menu{
        position: fixed;
        background: #5E43FA;
        width: 200px;
        height: 100%;
        box-sizing: border-box;
        padding: 30px 20px;
        transition: width .2s ease-in;
    }
    
    .side-menu.inactive{
        width: 80px;
    }
    
    .side-menu .top-section{
        position: relative;
    }
    
    .side-menu .top-section .logo{
        
        overflow: hidden;
        display: inline-block;
    }
    .side-menu .top-section .logo h5{
        
        color: #DCD7FD;
        font-weight: 600;
    }
    
    .side-menu .top-section .toggle-menu-btn{
        color: #666;
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    .side-menu.inactive .top-section .toggle-menu-btn{
        right: -50px;
    }
    
    .side-menu .list-controller{
        color: #fff;
        position: relative;
        
    }
    
    .side-menu .list-controller .search-btn{
        width: 40px;
        height: 35px;
        position: absolute;
        background: transparent;
        border: 0;
        font-size: 20px;
        color: #666;
    }
    
    .side-menu .list-controller input[type=text]{
        border: 0;
        outline: none;
        height: 35px;
        background: #333;
        border-radius: 5px;
        display: block;
        margin: 20px 0;
        width: 100%;
        box-sizing: border-box;
        padding-left: 40px;
        color: #666;
    }

    .side-menu .main-menu{
        margin: 5px 0;
        position: relative;
        
        max-height: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .side-menu .main-menu .menu-item{
        color: #E2DCFD;
        text-decoration: none;
        font-size: 15px;
        display: block;
        font-weight: 600;
        cursor: pointer;
    }
    
    .side-menu .main-menu .menu-item.active{
        background: #333;
        border-radius: 5px;
        color: #fff;
    }
    
    
    
    
    .side-menu.inactive .main-menu{
       
    }
    
    .side-menu .main-menu .menu-item .menu-icon{
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
    }
    
    .side-menu .main-menu .menu-item span{
        position: absolute;
        display: inline-block;
        line-height: 40px;
        opacity: 1;
        transition: opacity .2s ease-in;
    }
    
    .side-menu.inactive .main-menu .menu-item span{
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    
    .side-menu .main-menu .sub-menu{
        color: #333;
        margin-left: 20px;
        border-left: 1px solid #666;
        box-sizing: border-box;
        padding-left: 30px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease-in;
    }
    
    
    
    .side-menu .main-menu .sub-menu.active{
        max-height: 200px;
    }
    
    .side-menu .main-menu .sub-menu a{
        display: block;
        margin: 5px 0;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #333;
        box-sizing: border-box;
        padding: 5px;
    }
    
    
    .side-menu .main-menu .sub-menu a.active{
     
        background: #222;
        display: block;
        
        border-radius: 5px;
        color: #fff;
    
    }
    
    .side-menu-footer{
        width: 100%;
        background: #333;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .side-menu-footer .avatar{
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        display: inline-block;
    }
    .side-menu-footer .avatar img{
        max-width: 100%;
    }
    
    .side-menu-footer .user-info{
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        position: absolute;
        opacity: 1;
        transition: opacity .2s ease-in;
    }
    
    .side-menu.inactive .side-menu-footer .user-info{
        opacity: 1;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    
    
    .side-menu-footer .user-info h5{
        font-size: 15px;
    }
    
    
    .side-menu-footer .user-info p{
        font-size: 14px;
    }
    
    .divider{
        width: 100%;
        height: 1px;
        border-radius: 1px;
        background: #333;
    }
    
    .container{
        margin-left: 300px;
        transition: margin-left .2s ease-in;
        padding: 50px;
        box-sizing: border-box;
    }
    
    .container.inactive{
        margin-left: 80px;
    } */





    /* body {

        overflow-x: hidden;
    }
    
    * {
    
        box-sizing: border-box;
        
    }
    .navbar-expand-lg .navbar-nav {
        
        flex-direction: column !important;
    }
    
    
    .vertical-nav {
    
        position: fixed;
        top:0px;
        left:0;
        width: 230px;
        height:100%;
        background-color: #4E73DF;
        overflow-y: hidden;
    }
    
    .navbar-nav .hori{
        
        flex-direction: row !important;
    }
    
    
    .nav-item {
    
        margin: 20px 0px;
        
    }
    .sidebar-heading {
    
        border-top: 1px solid rgba(255, 255, 255, 0.945);
        border-top-width: 1px;
        border-top-style: solid;
        border-top: 1px solid rgba(255,255,255,.15);
        color: #7F83DE;
        padding: 0 1rem;
        font-weight: 800;
        font-size: 1rem;
    }
    
    .navbar-light .navbar-nav .nav-link {
    
        padding: 0 1rem;
        color: rgba(255,255,255,.8);
        font-size: .85rem;
         
    }
    
    .navbar-light .navbar-nav .nav-link:hover {
    
        color: white;
    }
    
    .fontawesome-wink {
    
        transform: rotate(-15deg);
        font-size: 2rem;
        margin: 0px 15px;
    }
    sub {
    
        top: -1rem;
    }
    
    .fontawesome {
    
        margin: 0px 10px;
    }
    
    .navbar-light .navbar-nav .sb {
    
        height: 4.375rem;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 800;
        margin-left: 10px;
        text-transform: capitalize;
        letter-spacing: .05rem;
        z-index: 1;
        color: white;
    }
    
    .navbar{
        
        height:100%;
        }
        
        .navbar{
            margin:0px;
        } */

   /* .navbar {

    background-color: aquamarine;
  }
        @media (min-width: 992px) {
            .navbar,
            .navbar-collapse {
              flex-direction: column;
            }
            .navbar-expand-lg .navbar-nav {
              flex-direction: column;
            }
            .navbar {
              width: 28%;
              height: 100vh;
              align-items: flex-start;
            }
            .navbar-brand {
              margin-left: 0.5em;
              padding-bottom: 0;
              border-bottom: 4px solid #464646;
            }
            form input {
              margin-bottom: 0.7em;
            }
          } */
           


           /* body {

            overflow-x: hidden;
        }
        
        * {
        
            box-sizing: border-box;
            
        }
        .navbar-expand-lg .navbar-nav {
            
            flex-direction: column !important;
        }
        
        
        .vertical-nav {
        
            position: fixed;
            top:0px;
            left:0;
            width: 230px;
            height:100%;
            background-color: #4E73DF;
            overflow-y: hidden;
        }
        
        .navbar-nav .hori{
            
            flex-direction: row !important;
        }
        
        
        .nav-item {
        
            margin: 20px 0px;
            
        }
        .sidebar-heading {
        
            border-top: 1px solid rgba(255, 255, 255, 0.945);
            border-top-width: 1px;
            border-top-style: solid;
            border-top: 1px solid rgba(255,255,255,.15);
            color: #7F83DE;
            padding: 0 1rem;
            font-weight: 800;
            font-size: 1rem;
        }
        
        .navbar-light .navbar-nav .nav-link {
        
            padding: 0 1rem;
            color: rgba(255,255,255,.8);
            font-size: .85rem;
             
        }
        
        .navbar-light .navbar-nav .nav-link:hover {
        
            color: white;
        }
        
        .fontawesome-wink {
        
            transform: rotate(-15deg);
            font-size: 2rem;
            margin: 0px 15px;
        }
        sub {
        
            top: -1rem;
        }
        
        .fontawesome {
        
            margin: 0px 10px;
        }
        
        .navbar-light .navbar-nav .sb {
        
            height: 4.375rem;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 800;
            padding: 1.5rem 1rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: .05rem;
            z-index: 1;
            color: white;
        }
        
        .navbar{
            
            height:100%;
            }
            
            .navbar{
                margin:0px;
            } */

.navbar {

    background-color: aqua;
    width: 100% !important;
}
            @media (min-width: 992px) {
                .navbar,
                .navbar-collapse {
                  flex-direction: column;
                }
                .navbar-expand-lg .navbar-nav {
                  flex-direction: column;
                }
                .navbar {
                  width: 28%;
                  height: 100vh;
                  align-items: flex-start;
                }
                .navbar-brand {
                  margin-left: 0.5em;
                  padding-bottom: 0;
                  border-bottom: 4px solid #464646;
                }
                form input {
                  margin-bottom: 0.7em;
                }
              }
              