* {

    box-sizing: border-box;
}
.card-body {

    width: 25rem !important;
    border: 1px solid rgba(0,0,0,.125);
    
}

.containe {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
    
}


.image {

    text-align: center;
}
.rounded-circle {

    width: 6rem;
    border: 5px solid wheat;
}

.form-control {

    border: none !important;
    border-bottom: 1px solid #D4D4D4 !important;
    border-radius: 0 !important;
    color: black !important;
}

.btn {

    width: 100%;
    border-radius: 20px;
}

.forgot-password {

    font-size: 0.7rem;
}
.signup {

    font-size: 0.7rem;
    text-align: center;
}

.p-2 img {

    width: 1rem;
}

h6 {

    text-align: center;
    color: #8C46F7;
    font-weight: 700 !important;
    font-size: 1.2rem !important;
}
